<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orange.core.dao.UserMapper">
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
      delete from user where id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="findAll" resultMap="userResultMap">
        SELECT
            id,
            username,
            password,
            mobile,
            address,
            create_time,
            last_login_time,
            last_update_time,
            description
        FROM
            USER
    </select>

    <resultMap id="userResultMap" type="com.orange.core.domain.User">
        <id property="id" column="id"/>
        <id property="username" column="username"/>
        <id property="password" column="password"/>
        <id property="mobile" column="mobile"/>
        <id property="address" column="address"/>
        <id property="createTime" column="create_time"/>
        <id property="lastLoginTime" column="last_login_time"/>
        <id property="lastUpdateTime" column="last_update_time"/>
        <id property="description" column="description"/>
    </resultMap>
</mapper>
