<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orange.core.dao.UserMapper">
    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
      UPDATE user SET status = #{id,jdbcType=BIGINT} where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="findAll" resultMap="userResultMap">
        SELECT
        <include refid="user_base_list"/>
        FROM USER
    </select>
    <select id="login" resultMap="userResultMap">
        SELECT
        <include refid="user_base_list"/>
        FROM USER
        WHERE username=#{username,jdbcType=VARCHAR} and password=#{password,jdbcType=VARCHAR}
    </select>
    <update id="updateLastLoginTime" parameterType="com.orange.core.domain.User">
      UPDATE user SET last_login_time = #{user.lastLoginTime,jdbcType=TIMESTAMP}
    </update>
    <sql id="user_base_list">
        id,username,password,mobile,address,createTime,lastLoginTime,lastUpdateTime,message
    </sql>
    <resultMap id="userResultMap" type="com.orange.core.domain.User">
        <id property="id" column="id"/>
        <id property="username" column="username"/>
        <id property="password" column="password"/>
        <id property="mobile" column="mobile"/>
        <id property="address" column="address"/>
        <id property="createTime" column="create_time"/>
        <id property="lastLoginTime" column="last_login_time"/>
        <id property="lastUpdateTime" column="last_update_time"/>
        <id property="message" column="message"/>
    </resultMap>
</mapper>
